<div class="row" data-ng-controller="ContractCtrl as ctrl">
    <div class="col-md-9 col-md-push-3"><a href="#" class="thumbnail">
        <img src="../img/cargo.jpg" alt="..."></a>

    </div>
    <div class="col-md-3 col-md-pull-9">
        <table class="table table-striped">
            <tr>
                <td>Originator : {{ctrl.contract.originator_name}}</td>
            </tr>

            <tr>
                <td>Buyer : {{ctrl.contract.buyer_name}}</td>
            </tr>

            <tr>
                <td>Currency : {{ctrl.contract.currency}}</td>
            </tr>

            <tr>
                <td>Face value : {{ctrl.contract.fv}}</td>
            </tr>

            <tr>
                <td>Remaining Amount : {{ctrl.contract.remain_amt}}</td>
            </tr>

            <tr>
                <td>Status : Invested</td>
            </tr>

            <tr>
                <td>Date Start : {{ctrl.contract.date_start|date}}</td>
            </tr>

            <tr>
                <td>Maturity Date : {{ctrl.contract.date_end|date}}</td>
            </tr>

            <tr>
                <td>Interest Rate : {{ctrl.contract.interest_rate}}</td>
            </tr>
        </table>
    </div>

    <br>
    <table class="table table-striped">
        <tr>
            <th>Transaction No. </th>
            <th>Currency</th>
            <th>Invested amount</th>
            <th>Payout Amount</th>


        </tr>
        <tr ng-repeat="invested in ctrl.investedAmts | orderBy:'id'">
            <td>{{invested.id}}</td>
            <td>{{invested.currency}}</td>
            <td>{{invested.invested_amount}}</td>
            <td>{{invested.payout_amount}}</td>
        </tr>
    </table>
</div>