<div class="container" ng-controller="CreateLoanCtrl as ctrl">
    <form name="createLoan" novalidate ng-submit="ctrl.createLoan()" autocomplete="off">

        <div class="form-group">
            <label for="buyer_id">Buyer Name:</label>
            <select ng-model="ctrl.loan.buyer_id" id="buyer_id" name="buyer_id" class="form-control" required>
                <option
                        ng-repeat="buyer in ctrl.buyers"
                        value="{{buyer.id}}"
                >
                    {{buyer.company}}
                </option>
            </select>
            <div class="help-block"
                 ng-show="validateForm.buyer_id.$invalid && validateForm.buyer_id.$error.required">
                <p>Buyer Name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="date_start">Shipment Date:</label>
            <input type="date" id="date_start" name="date_start" class="form-control"
                   ng-model="ctrl.loan.date_start" required>
            <div class="help-block"
                 ng-show="validateForm.date_start.$invalid&&validateForm.date_start.$error.required">
                <p>Shipment Date is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="date_end">Loan End Date:</label>
            <input type="date" id="date_end" name="date_end" class="form-control"
                   ng-model="ctrl.loan.date_end" required>
            <div class="help-block"
                 ng-show="validateForm.date_end.$invalid&&validateForm.date_end.$error.required">
                <p>Loan Maturity Date is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="fv">Cargo Value :</label>
            <input type="number" id="fv" name="fv" class="form-control"
                   ng-model="ctrl.loan.fv" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.fv.$invalid&&validateForm.fv.$error.required">
                <p>Cargo Value is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="currency">Currency:</label>
            <select class="form-control" id="currency" ng-model="ctrl.loan.currency">
                <option>USD</option>
                <option>CNY</option>
                <option>EUR</option>
                <option>GBP</option>
                <option>SGD</option>
            </select>
        </div>

        <div class="form-group">
            <label for="interest_rate">Interest Rate (%):</label>
            <input type="number" id="interest_rate" name="interest_rate" class="form-control"
                   ng-model="ctrl.loan.interest_rate" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.interest_rate.$invalid&&validateForm.interest_rate.$error.required">
                <p>Interest Rate is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lc_no">LC Number:</label>
            <input type="text" id="lc_no" name="lc_no" class="form-control"
                   ng-model="ctrl.loan.lc_no" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.lc_no.$invalid&&validateForm.lc_no.$error.required">
                <p>LC Number is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lc_bankname">LC Issuing Bank:</label>
            <input type="text" id="lc_bankname" name="lc_bankname" class="form-control"
                   ng-model="ctrl.loan.lc_bankname" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.lc_bankname.$invalid&&validateForm.lc_bankname.$error.required">
                <p>LC Issuing Bank is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="details">Details:</label>
            <textarea id="details" name="details" class="form-control"
                      ng-model="ctrl.loan.details" required autocomplete="off"></textarea>
            <div class="help-block"
                 ng-show="validateForm.details.$invalid&&validateForm.details.$error.required">
                <p>LC Issuing Bank is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lc_bank_swiftcode">Swift Code:</label>
            <input type="text" id="lc_bank_swiftcode" name="lc_bank_swiftcode" class="form-control"
                   ng-model="ctrl.loan.lc_bank_swiftcode" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.lc_bank_swiftcode.$invalid&&validateForm.lc_bank_swiftcode.$error.required">
                <p>Swift Code is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control">Create a Loan</button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
            {{ctrl.status.message}}
        </div>

    </form>
</div>
