<div class="container">
    <h1>Edit {{ctrl.book.title}}</h1>
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName" class="form-control"
                   ng-model="ctrl.productName" required>
            <div class="help-block"
                 ng-show="validateForm.firstName.$invalid && validateForm.firstName.$error.required">
                <p>Product Name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="shipmentDate">Shipment Date:</label>
            <input type="date" id="shipmentDate" name="shipmentDate" class="form-control"
                   ng-model="ctrl.shipmentDate" required>
            <div class="help-block"
                 ng-show="validateForm.lastName.$invalid&&validateForm.lastName.$error.required">
                <p>Shipment Date is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="cargoValue">Cargo Value:</label>
            <input type="number" id="cargoValue" name="cargoValue" class="form-control"
                   ng-model="ctrl.cargoValue" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.password.$invalid&&validateForm.password.$error.required">
                <p>Cargo Value is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="interest">Interest Rate:</label>
            <input type="number" id="interest" name="interest" class="form-control"
                   ng-model="ctrl.interest" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.password.$invalid&&validateForm.password.$error.required">
                <p>Interest Rate is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="duration">Loan Duration:</label>
            <input type="number" id="duration" name="duration" class="form-control"
                   ng-model="ctrl.duration" required>
            <div class="help-block"
                 ng-show="validateForm.address.$invalid&&validateForm.address.$error.required">
                <p>Duration is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control">
                <!--ng-disabled="validateForm.$invalid">-->
                Register
            </button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
            {{ctrl.status.message}}
        </div>

    </form>
</div>