<div class="row">
    <div class="col-md-9 col-md-push-3"><a href="#" class="thumbnail">
        <img src="../img/cargo.jpg" alt="..."></a>

    </div>
    <div class="col-md-3 col-md-pull-9">
        <table class="table table-striped">
            <tr>
                <td>Originator : {{ctrl.loan.originator_name}}</td>
            </tr>

            <tr>
                <td>Buyer : {{ctrl.loan.buyer_name}}</td>
            </tr>

            <tr>
                <td>Currency : {{ctrl.loan.currency}}</td>
            </tr>

            <tr>
                <td>Face value : {{ctrl.loan.fv}}</td>
            </tr>

            <tr>
                <td>Remaining Amount : {{ctrl.loan.remain_amt}}</td>
            </tr>

            <tr>
                <td>Number of invested transaction : {{ctrl.totalinvestedTransactions}}</td>
            </tr>

            <tr>
                <td>Date Start : {{ctrl.loan.date_start|date}}</td>
            </tr>

            <tr>
                <td>Maturity Date : {{ctrl.loan.date_end|date}}</td>
            </tr>

            <tr>
                <td>Interest Rate : {{ctrl.loan.interest_rate}}</td>
            </tr>
        </table>
        <br>
        <form name="investAmtForm" class="row" ng-submit="ctrl.investInLoan()">
            <!--&& operator, $valid all fields are valid-->
            <div class="col-xs-9"><input type="number" class="form-control" ng-model="ctrl.amount" required ng-minlength="1">
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-primary">Invest</button>
            </div>
        </form>
    </div>
</div>




