<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-gutter-col">
        <iframe frameborder="0" scrolling="no" height=50 width="474" allowtransparency="true" marginwidth="0"
                marginheight="0"
                src="http://irates.investing.com/index.php?rows=4&bg1=FFFFFF&bg2=F1F5F8&text_color=333333&enable_border=show&border_color=0452A1&header_bg=0452A1&header_text=FFFFFF"
                align="center"></iframe>
        <br/>
        <table width="200">
            <tbody>
            <tr>
                <td style="text-align:left"><a href="http://www.investing.com" rel="nofollow" target="_blank"><img
                        style="vertical-align:middle;" title="Investing.com" alt="Investing.com" border="0"
                        src="http://c1802182.cdn.cloudfiles.rackspacecloud.com/forexpros_he_logo.png"></a></td>
            </tr>
            <tr>
                <td><span style="font-size: 11px;color: #333333;text-decoration: none;">Interest Rates powered by <a
                        href="http://www.investing.com/" rel="nofollow" target="_blank"
                        style="font-size: 11px;color: #06529D; font-weight: bold;"
                        class="underline_link">Investing.com</a>.</span></td>
            </tr>
            </tbody>
        </table>
        <iframe frameborder="0" scrolling="no" height="234" width="424" allowtransparency="true" marginwidth="0"
                marginheight="0"
                src="http://indrates.investing.com/index.php?force_lang=1&pairs_ids=166;27;175;172;176;177;168;40830;179;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=hide&last_update=hide"></iframe>
        <br/><span style="font-size: 11px;color: #333333;text-decoration: none;">Live World Indices are powered by <a
            href="http://www.investing.com/" rel="nofollow" target="_blank"
            style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 custom-margin-auto">
        <a href="#" class="thumbnail">
            <img src="../img/advantage.jpg" alt="..."></a>
    </div>
</div>


<h1 class="text-center">Benefits</h1>

<div class="row custom-padding">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>Borrower</h2>
        <li>Difficult for SME to get trade financing services.</li>
        <li>Fast and secure.</li>
        <li>Lower interest, and wider market access.</li>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>Lender</h2>
        <li>Participate in trade finance without big boys.</li>
        <li>Control the money to the intended company.</li>
        <li>Avoid fraud documents</li>
        <li>Avoid double collateralization</li>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2>Authority</h2>
        <li>Fully collateralized, based on actual cargo value.</li>
        <li>Authenticated and central registered financing system.</li>
        <li>Universal and transperant.</li>
        <li>Controlled money flow to avoid money laundry.</li>

        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
