<div>
    <h1>Your Posted Loan Information</h1>
    <div class="container" ng-controller="LoanConfirmationCtrl as Ctrl">
        <form name="loanConfirmation">

            <div class="form-group">
                Posted Loan Information
            </div>
            {{ctrl._usernameField}}
        </form>
        <div class="form-group">
            <button type="submit" class="btn-success form-control"><a ui-sref="unmatchedloan">
                Confirm</a>
            </button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-success form-control"><a ui-sref="editloan">
                Edit</a>
            </button>
        </div>

    </div>
</div>