<div class="row center-block">
    <h1>Login</h1>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-controller="LoginCtrl as ctrl">
        <form ng-submit="ctrl.login()">
            <div class="form-group">
                <label for="">Email</label>
                <input class="form-control" type="text" ng-model="ctrl.admin_users.email"/>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input class="form-control" type="password" ng-model="ctrl.admin_users.password"/>
            </div>

            <input type="submit" class="btn btn-success"/>
        </form>
    </div>
</div>