<div class="container" ng-controller="MatchedLoanCtrl as ctrl">

    <form name="searchForm" class="row" ng-submit="searchForm.$valid && ctrl.searchLoan()">
        <!--&& operator, $valid all fields are valid-->
        <div class="col-xs-10">        <input type="text" class="form-control" ng-model="ctrl.query" required>
        </div>
        <div class="col-xs-2">        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Loan No.</th>
            <th>Originator</th>
            <th>Buyer</th>
            <th>Currency</th>
            <th>Face Value</th>
            <th>Date Start</th>
            <th>Maturity Date</th>
            <th>Interest Rate</th>

        </tr>
        <tr ng-repeat="loan in ctrl.matchedLoans | orderBy:'interest_rate'">
            <td> <a ui-sref="contractdetails({loanId: loan.id})">{{loan.loan_no}}</a></td>
            <td>{{loan.originator_name}}</td>
            <td>{{loan.buyer_name}}</td>
            <td>{{loan.currency}}</td>
            <td>{{loan.fv}}</td>
            <td>{{loan.date_start|date}}</td>
            <td>{{loan.date_end|date}}</td>
            <td>{{loan.interest_rate + "%"}}</td>
        </tr>
    </table>

</div>