<div class="container" ng-controller="RegistrationCtrl as ctrl">
    <form name="validateForm" novalidate ng-submit="ctrl.goRegister()" autocomplete="off">

        <div class="form-group">
            <label for="companyType">Company Type:</label>
            <select ng-init="1" class="form-control" id="companyType" ng-model="ctrl.register.companyType">
                <option value="1">Originator</option>
                <option value="2">Buyer</option>
                <option value="3">Investor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="company">Company Name:</label>
            <input type="text" id="company" name="company" class="form-control"
                   ng-model="ctrl.register.company" required>
             <div class="help-block"
                 ng-show="validateForm.company.$error.required">
                <p>Company Name is mandatory</p>
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control"
                   ng-model="ctrl.register.password" required />
            <div ng-show="validateForm.password.$invalid">
                <p>Password is mandatory.</p>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control"
                   ng-model="ctrl.register.confirmPassword"
                   required compare-to="ctrl.register.password" />
            <div ng-show="validateForm.confirmPassword.$invalid">
                <p>Passwords do not match</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control"
                   ng-model="ctrl.register.email" required>
            <div class="help-block"
                 ng-show="validateForm.email.$error.email">
                <p>Invalid email.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control">
                Register
            </button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
            {{ctrl.status.message}}
        </div>

    </form>
</div>

