<div class="jumbotron row">
    <div class="container">
        <h1>Blockchain Trade Finance Platform</h1>
        <p>Accelerate Your Business</p>
    </div>
</div>

<div class="container" ng-controller="RegistrationCtrl as ctrl">
    <form name="validateForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input type="text" id="companyName" name="companyName" class="form-control"
                   ng-model="ctrl.companyName" required>
            <div class="help-block"
                 ng-show="validateForm.firstName.$invalid && validateForm.firstName.$error.required">
                <p>Company Name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="contactName">Contact Person:</label>
            <input type="text" id="contactName" name="contactName" class="form-control"
                   ng-model="ctrl.contactName" required>
            <div class="help-block"
                 ng-show="validateForm.lastName.$invalid&&validateForm.lastName.$error.required">
                <p>Contact Name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" class="form-control"
                   ng-model="ctrl.password" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.password.$invalid&&validateForm.password.$error.required">
                <p>Password is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Please Confirm Password :</label>
            <input type="password" id="password" name="password" class="form-control"
                   ng-model="ctrl.password" required autocomplete="off">
            <div class="help-block"
                 ng-show="validateForm.password.$invalid&&validateForm.password.$error.required">
                <p>Password is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address :</label>
            <input type="text" id="address" name="address" class="form-control"
                   ng-model="ctrl.address" required>
            <div class="help-block"
                 ng-show="validateForm.address.$invalid&&validateForm.address.$error.required">
                <p>Address is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="country">Country :</label>
            <input type="text" id="country" name="country" class="form-control"
                   ng-model="ctrl.country" required>
            <div class="help-block"
                 ng-show="validateForm.country.$invalid&&validateForm.country.$error.required">
                <p>Country name is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code :</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control"
                   ng-model="ctrl.postalCode" required ng-minlength="6" ng-maxlength="6" ng-pattern="/^[0-9]+$/">
            <div class="help-block"
                 ng-show="validateForm.postalCode.$invalid&&validateForm.postalCode.$error.required">
                <p>Postal Code is mandatory.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control"
                   ng-model="ctrl.register.email" required>
            <div class="help-block"
                 ng-show="validateForm.email.$error.email">
                <p>Invalid email.</p>
            </div>
            <div class="help-block"
                 ng-show="validateForm.email.$error.required">
                <p>Email is mandatory</p>
            </div>
        </div>

        <div class="form-group">
            <label for="contactNumber">Contact Number :</label>
            <input type="text" id="contactNumber" name="contactNumber" class="form-control"
                   ng-model="ctrl.contactNumber" required ng-pattern="/^[0-9]+$/">
            <div class="help-block"
                 ng-show="validateForm.contactNumber.$invalid&&validateForm.contactNumber.$error.required">
                <p>Contact Number is mandatory.</p>
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="btn-success form-control" ng-click="ctrl.goRegister()">
                Register
            </button>
        </div>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200,
             'alert-danger': ctrl.status.code==400 }">
            <button class="close" data-dismiss="alert">x</button>
            {{ctrl.status.message}}
        </div>

    </form>
</div>

