<div class="jumbotron row">
    <div class="container">
        <h1>Blockchain Trade Finance Platform</h1>
        <p>Accelerate Your Business</p>
    </div>
</div>
<div>
<h1>Your Registration Information</h1>
    <div class="container" ng-controller="ctrl as RegistrationCtrl">
        <form name="registrationConfirmation">

            <div class="form-group">
                Registered Information
            </div>
            {{ctrl._usernameField}}
        </form>
            <div class="form-group">
                <button type="submit" class="btn-success form-control"><a ui-sref="login()">
                    Confirm</a>
                </button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-success form-control"><a ui-sref="registration()">
                    Edit</a>
                </button>
            </div>

    </div>
</div>