<div class="container" ng-controller="UnmatchedLoanCtrl as ctrl">

    <form name="searchForm" class="row" ng-submit="searchForm.$valid && ctrl.searchLoan()">
        <!--&& operator, $valid all fields are valid-->
        <div class="col-xs-10"><input type="text" class="form-control" ng-model="ctrl.query"
                                      placeholder="Company Name" required>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br>
    <!--<button type="submit" class="btn btn-primary" ng-click="ctrl.listLoan()">List All</button>-->
    <table class="table table-striped">
        <tr>
            <th>Loan Number</th>
            <th>Originator</th>
            <th>Buyer</th>
            <th>Currency</th>
            <th>Face Value</th>
            <th>Remaining Amount</th>
            <th>Date Start</th>
            <th>Maturity Date</th>
            <th>Interest Rate</th>
            <th>ACTION!</th>
        </tr>
        <tr ng-repeat="loan in ctrl.loans | orderBy:'interest_rate'">
            <td>{{loan.loan_no}}</td>
            <td>{{loan.originator_name}}</td>
            <td>{{loan.buyer_name}}</td>
            <td>{{loan.currency}}</td>
            <td>{{loan.fv}}</td>
            <td>{{loan.remain_amt}}</td>
            <td>{{loan.date_start|date}}</td>
            <td>{{loan.date_end|date}}</td>
            <td>{{loan.interest_rate + "%"}}</td>
            <td>
                <button type="button" class="btn btn-default" ui-sref="hittheloan({loanId: loan.id})">Hit the Loan
                </button>
            </td>
        </tr>
    </table>


</div>